- if page_classes == 'index'
  - $horizontal = ""
- else
  - $horizontal = "header--horizontal"


%header{:class => "header #{$horizontal} #{header_class ||= ""}"}
  .container--wide
    .header-inner
      %a.logo{:href => "/"}
        - if header_class.include?("header--inverted")
          = image_tag('logo.svg')
        - elsif header_class == "x404"
          %img{:src => "/images/logo-inverted.svg", :alt => ""}/          
        - else
          = image_tag('logo-inverted.svg')
      %nav.nav.nav--main
        %ul
          = partial 'partials/components/nav'
      %a{:href => "#", id: "menu-link", class: "menu-link"}
        %div
        %div
        %div    
    = yield if defined? yield    

