<li <%= is_page_selected("/") %>> <%= link_to("strona główna", "/") %></li>
<li <%= is_page_selected("/uslugi/") %>> <%= link_to("usługi", "/uslugi/") %></li>
<li <%= current_resource.url.start_with?('/projekty') ? 'class="active"' : "" %>> <%= link_to("realizacje", "/projekty/") %></li>
<li <%= is_page_selected("/onas/") %>> <%= link_to("o nas", "/onas/") %></li> 
<li <%= current_resource.url.start_with?('/blog') ? 'class="active"' : "" %>> <%= link_to("blog", "/blog/") %></li> 


<!--  <p> <%#= current_resource.url.gsub('/', ' ').strip %></p>
<p> <%= current_resource.url.index("/",2) %></p> 
<p><%= current_resource.url.include?('blog') ? 'class="active"' : "" %></p> -->
