<!doctype html>
<html>
  <head>
    <%= partial 'partials/head/head-meta' %>
    <%= partial 'partials/head/favicon' %> 
    <% if content_for?(:four) %>
      <%= yield_content :four %>
    <% else %>
      <%= stylesheet_link_tag 'style'%>  
    <% end %>
    <% if content_for?(:css) %>
      <%= yield_content :css %>
    <% end %>
    <!-- do zmiany na font-load -->
    <link href="/fonts-dsp.css" rel="stylesheet" type="text/css"/>
     <!-- <%= partial  '/partials/head/font_load' %> -->
    <%= partial  '/partials/head/touch-check' %>
  </head>
  
  <body class="<%= page_classes %>">
    <% if page_classes != 'index' %>
      <%= partial 'partials/components/header', :locals => { :header_class => current_page.data.header } %>  
    <% end %>  
      <%= yield %>
      <%= partial 'partials/components/footer' %>

    <!-- <div class="stripe"></div> -->
    <%= javascript_include_tag  "all" %>  
    <%= partial 'partials/head/analytics' %>
  </body>

</html>