<!doctype html>
<html class="no-js">
  <head>
    <%= partial 'partials/head/head-meta' %>

    <%= partial 'partials/head/js-check' %>
    <%= partial 'partials/head/touch-check' %>
    <%= stylesheet_link_tag 'style' %>
    <%= partial  '/partials/head/font_load' %>
    
  </head>
  
  <body class="<%= page_classes %>">

      
  <%= yield %>
      

  
    <%= javascript_include_tag  "all" %>  
    <%= partial 'partials/head/analytics' %>
  </body>

</html>