<!doctype html>
<html class="no-js">
  <head>
    <%= partial 'partials/head/head-meta' %>
    <% if current_page.data.robots == "noindex" %>
      <meta name="robots" content="noindex">
    <% end %>
    <%= partial 'partials/head/favicon' %> 
    <% if content_for?(:four) %>
      <%= yield_content :four %>
    <% else %>
      <%= stylesheet_link_tag 'style'%>  
    <% end %>
    <!-- do zmiany na font-load -->
    <!-- <link href="/fonts-dsp.css" rel="stylesheet" type="text/css"/> -->
    <%= partial  '/partials/head/font_load' %>
    <%= partial  '/partials/head/touch-check' %>
    <%= partial  '/partials/head/js-check' %>
  </head>
  
  <body class="<%= page_classes %>">
    
    <% if content_for?(:header) %>
      <%= yield_content :header %>
    <% else %>
      <%= partial 'partials/components/header', :locals => { :header_class => current_page.data.header } %>  
    <% end %>  

      <%= yield %>
      <%= partial 'partials/components/footer' %>
      <div id="back-to-top"></div>
    <!-- <div class="stripe"></div> -->
    <%= javascript_include_tag  "all" %>  
    <%= partial 'partials/head/analytics' %>
  </body>

</html>