<!doctype html>
<html>
  <head>
    <%= partial 'partials/head/head-meta' %>
    <%= partial 'partials/head/favicon' %>
    <% if content_for?(:four) %>
      <%= yield_content :four %>
    <% else %>
      <%= stylesheet_link_tag 'style'%>  
    <% end %>
    <% if content_for?(:art) %>
      <%= yield_content :art %>
    <% end %>
    <%= partial  '/partials/head/font_load' %>
    
  </head>
  
  <body class="<%= page_classes %>">
    <% if page_classes != 'index' %>
      <div class="teaser">
        <div class="container--wide">
          <%= partial 'partials/components/header' %>    
        </div>
      </div>
    <% end %>  
      <%= yield %>
      <%= partial 'partials/components/footer' %>

    <!-- <div class="stripe"></div> -->
    <%= javascript_include_tag  "all" %>  
    <%= partial 'partials/head/analytics' %>
  </body>

</html>