<% wrap_layout :layout do  %>

  <article class="single"> 
    <%= yield %>
  </article>  

  <ul class="high">
    <li class="prevnav">
      <% prev_article = current_article.previous_article %>
      <% if prev_article %>
        <a href="<%= prev_article.url %>" rel="prev" title="Poprzedni projekt: <%= prev_article.data.title_index %>">
          <%= prev_article.title %>
        </a>
      <% end %>

    </li>
    <li class="nextnav">
      <% next_article = current_article.next_article %>
      <% if next_article %>
        <a href="<%= next_article.url %>" rel="next" title="Następny projekt: <%= next_article.data.title_index %>">
          <%= next_article.title %>
        </a>
      <% end %>
    </li>
  </ul>

<% end %>
