<% wrap_layout :layout do  %>
  <%= partial 'partials/components/header', :locals => { :header_class => "header--absolute header--inverted" } %>
  <article>
    <div class="bg-img bg-opacity full-width" data-background-image="<%= imgpath('r_main.jpg') %>">
      <h1 class="projekt-header">
        <%= current_page.data.title_single %>
      </h1>
    </div>
    <%= yield %>
    <ul class="high">
      <li class="prevnav">
        <% prev_article = current_article.previous_article %>
        <% if prev_article %>
          <a href="<%= prev_article.url %>" rel="prev" title="Previous Article: #{prev_article.title}">
            <%= prev_article.title %>
          </a>
        <% end %>

      </li>
      <li class="nextnav">
        <% next_article = current_article.next_article %>
        <% if next_article %>
          <a href="<%= next_article.url %>" rel="next" title="Next Article: #{next_article.title}">
            <%= next_article.title %>
          </a>
        <% end %>
      </li>
    </ul>
  </article>
  <%= partial 'partials/components/footer' %>
<% end %>
