---
title: da się prościej - FoodData
title_index: Pan Kanapka Online
date: 2015-02-01
projekt_class: projekt-food projekt--inverted
header: header--inverted
---

    

-# %header.bg-img.bg-height-2.align-bottom.bg-shade-more.color-inverted.align-bottom{'data-background-image' => imgpath('img-main.jpg')}
-#   .section-inner
-#     %h1 FoodData 
-#     %h4 czyli Pan Kanapka Online

%header.bg-color.bg-blue.bg-height-1.align-bottom.align-bottom
  .section-inner
    %h1 FoodData 
    %h4 czyli Pan Kanapka Online
-# %header
-#   .section-inner
-#     %h1 FoodData 
-#     %h4 czyli Pan Kanapka Online    

%section
  .section-inner
    = figure(:responsive,'img-main.jpg', 'kot ma ale')
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam provident sunt sit praesentium totam nisi, itaque earum! Culpa dolores libero aut accusantium exercitationem, doloremque magnam in qui ipsum, sunt voluptates.

= bgimg('img-main.jpg', class: 'bg-shade-more color-inverted bg-height-1 align-bottom') do
  .section-inner
    %h2 Adrian

= @site + imgpath('img-main-small.jpg')
= FastImage.size(@site + imgpath('img-main-small.jpg'))

%p
= Dir.pwd
%p
  = Dir.pwd + imgpath('img-main-large.jpg')
  = FastImage.size('../projekty/fooddata/images/img-main-small.jpg')
%p
  = FastImage.size('/Users/adrian/Projekty/img-main-small.jpg')
-# = ImageSize.path(@site + imgpath('img-main-small.jpg')).size


-# - width, height = FastImage.size(@site + imgpath('img-main-small.jpg'), :raise_on_failure => true)
-# = "Width: #{width}"
-# = "Height: #{height}"
-# = ((height.to_f / width ) * 100).to_s + "%"
  
%section.bg-color.align-middle.bg-blue.bg-height-2.color-inverted
  .section-inner
    .columns-text-img.text-50.text-left
      .column-img
      .column-text
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt consequatur tenetur, corporis repellat mollitia optio fugit incidunt, illum modi voluptatibus a dignissimos! Itaque placeat, debitis tenetur tempora hic, animi nemo!

%section
  .section-inner
    :markdown
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias impedit maxime tenetur nobis, ratione ipsum unde eveniet! Hic voluptate reiciendis assumenda sed nesciunt consequatur placeat corporis necessitatibus? Cum, labore, non. 

      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem ducimus et eaque rem nam. Nam quas a, sequi animi voluptate veritatis, libero deserunt nemo, nostrum incidunt nulla fugit eius, vero.

      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt veniam eius obcaecati, assumenda culpa consequuntur provident ad, earum labore inventore, alias est nam nulla odio soluta ipsum fuga, non possimus?

   

