---
title: da się prościej - FoodData
index_firm: FoodData 
index_title: Pan Kanapka Online
date: 2015-02-01
projekt_class: projekt-food
header: header--inverted
klient: FoodData
zakres:
  - design
  - development
  - copywriting
status: offline
status_link: http://dev.dearty.com/fooddata  
---



= bgimg_header('img-hero.jpg', class: "bg-img bg-height-2 bg-shade-more color-inverted align-center align-middle") do
  .section-inner
    %h4.color-lighter FoodData
    %h1 Zamawianie posiłków u Pana Kanapki przez aplikację mobilną
    -# %h4.color-lighter czyli Pan Kanapka online

%section
  .section-inner.align-center
    %h2 Zadanie
    %p 
      FoodData to startup tworzący darmową aplikację, umożliwiającą zamawianie posiłków u dostawców typu “Pan Kanapka”. 
      Naszym zadaniem było stworzenie tzw. <em>launch page</em>, która przy odpowiedniej akcji marketingowej (już nie za naszym pośrednictwem) miała ocenić zapotrzebowanie na takie narzędzie. 
    %hr.inline/

%section   
  .section-inner.outset
    .columns.column-1--1of3.column-2--2of3.font-size-18
      .column-1
        %h3 Wersja „Przed”
        %p To co się najbardziej rzucało w oczy w dotychczasowej wersji strony, to brak na wstępie jasnej i przejrzystej propozycji wartości, czyli informacji, czym właściwie jest FoodData i jak może pomóc odbiorcy.
      .column-2
        = mockup(:imac, :scroll, 'img-fooddata-old-s.jpg')
        %span FoodData - wersja „Przed”
        
%section.bg-color.bg-grey
  .section-inner.outset
    .columns.column-1--1of4.column-2--3of4.align-middle.font-size-18
      .column-1
        %h3 Propozycja wartości
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil nobis cum ipsa. Sapiente repudiandae, voluptatem saepe delectus culpa molestias ducimus labore maxime, hic, dolores architecto tempora impedit beatae accusantium nisi?
      .column-2.order-1 
        = figure_lazy(:l, 'img-value.jpg')  

%section
  .section-inner.outset
    .columns.column-1--1of3.column-2--2of3.align-middle.font-size-18
      .column-1
        %h3 Imitacja aplikacji
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil nobis cum ipsa. Sapiente repudiandae, voluptatem saepe delectus culpa molestias ducimus labore maxime, hic, dolores architecto tempora impedit beatae accusantium nisi?
      .column-2 
        = figure_lazy(:l, 'img-value.jpg')      

%section
  .section-inner.outset
    .columns.column-1--1of4.column-2--3of4.align-middle.font-size-18
      .column-1
        %h3 Ikony
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil nobis cum ipsa. Sapiente repudiandae, voluptatem saepe delectus culpa molestias ducimus labore maxime, hic, dolores architecto tempora impedit beatae accusantium nisi?
      .column-2.order-1 
        = figure_lazy(:direct, 'fooddata-icons.png')      
      
%section
  .section-inner.fullwidth
    = figure_lazy(:l, 'img-zainteresowanie.jpg')       

%section 
  .section-inner.outset.align-center
    %h2 Efekt końcowy
    %p.color-lighter Nie zapomnieliśmy oczywiście o wersji responsywnej
    = br

    .columns.column-1--3of4.column-2--1of4.align-bottom
      .column-1
        = mockup(:imac, :scroll, 'img-fooddata-l.jpg', id: 'compare-1')
      .column-2
        = mockup(:iphone, :scroll, 'fooddata_sx.png', id: 'compare-2')
    
            