---
title: da się prościej - FoodData
title_index: Pan Kanapka Online
date: 2015-02-01
projekt_class: projekt-food
header: header--inverted
---



= bgimg_header('img-hero.jpg', class: "bg-img bg-height-2 bg-shade-more color-inverted align-center align-middle") do
  .section-inner
    %h4.color-lighter FoodData
    %h1 Zamawianie posiłków u Pana Kanapki przez aplikację mobilną
    -# %h4.color-lighter czyli Pan Kanapka online

%section
  .section-inner.align-center
    %h2 Zadanie
    %p 
      FoodData to startup tworzący darmową aplikację, umożliwiającą zamawianie posiłków u dostawców typu “Pan Kanapka”. 
      Naszym zadaniem było stworzenie tzw. <em>launch page</em>, która przy odpowiedniej akcji marketingowej (już nie za naszym pośrednictwem) miała ocenić zapotrzebowanie na takie narzędzie. 
    %hr.inline/


%section   
  .section-inner.outset
    .columns.column-1--1of3.align-middle
      .column-1
        %h3 Wersja „Przed”
        %p To co się najbardziej rzucało w oczy w dotychczasowej wersji strony, to brak na wstępie jasnej i przejrzystej propozycji wartości, czyli informacji, czym właściwie jest FoodData i jak może pomóc odbiorcy.
      .column-2.order-1 
        = mockup(:imac, :scroll, 'img-fooddata-old-s.jpg', caption: "dupa jasia")
        %span FoodData - wersja „Przed”
%section
  = figure_r(:l, 'img-value.jpg')       
  
  .section-inner
    = mockup(:laptop, nil, 'fooddata-1440x900.jpeg')  
    = mockup(:imac, nil, 'fooddata-1920x1050.jpeg')
    .columns
      .column-1
        = mockup(:iphone, nil, 'img-fooddata-414x736-xs.jpeg')
    = mockup(:iphone, nil, 'fooddata-iphone.jpg')

  .section-inner.outset
    = figure_r(:l, 'img-zainteresowanie.jpg')

%section
  .section-inner
    :markdown
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias impedit maxime tenetur nobis, ratione ipsum unde eveniet! Hic voluptate reiciendis assumenda sed nesciunt consequatur placeat corporis necessitatibus? Cum, labore, non. 

      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem ducimus et eaque rem nam. Nam quas a, sequi animi voluptate veritatis, libero deserunt nemo, nostrum incidunt nulla fugit eius, vero.

      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt veniam eius obcaecati, assumenda culpa consequuntur provident ad, earum labore inventore, alias est nam nulla odio soluta ipsum fuga, non possimus?
  .section-inner.outset-img
    .mockup-container
      = mockup(:imac, :scroll, 'img-fooddata_old-l.jpg')  
%section.bg-grey.bg-height-3  
  .section-inner.outset
    -# = mockup(:iphone, 'fooddata_sx.png')
    -# = mockup_scroll(:desktop, 'img-fooddata_old-l.jpg')


    .columns.column-1--1of3.align-middle
      .column-1
        = mockup(:iphone, :scroll, 'fooddata_sx.png', class: 'ala')
      .column-2
        %h3 Title 3
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quibusdam ad consequuntur tempore suscipit. Ipsam odio eos officia, libero ratione recusandae eum possimus praesentium, tempora necessitatibus ullam iure accusamus voluptatibus.       