---
title: da się prościej - FoodData
index_firm: FoodData 
index_title: Pan Kanapka Online
date: 2015-01-01
projekt_class: projekt-food
header: header--inverted
zakres:
  - design
  - development
  - copywriting
status: offline
status_link: http://dev.dearty.com/fooddata  
---



= bgimg_header('img-hero.jpg', class: "bg-img bg-height-2 bg-shade-more color-inverted align-center align-middle") do
  .section-inner
    %h4.color-lighter FoodData
    %h1 Zamawianie posiłków u Pana Kanapki przez aplikację mobilną

%section
  .section-inner.align-center
    %h2 Zadanie
    %p 
      FoodData to startup tworzący darmową aplikację, umożliwiającą zamawianie posiłków u dostawców typu “Pan Kanapka”. 
      Naszym zadaniem było stworzenie tzw. <em>launch page</em>, która przy odpowiedniej akcji marketingowej (już nie za naszym pośrednictwem) miała ocenić zapotrzebowanie na takie narzędzie. 
    %hr.inline/

%section   
  .section-inner.outset
    .columns.column-1--1of3.column-2--2of3.font-size-18
      .column-1
        %h3 Wersja „Przed”
        %p To co się najbardziej rzucało w oczy w dotychczasowej wersji strony, to brak na wstępie jasnej i przejrzystej propozycji wartości - czyli informacji, czym właściwie jest FoodData i jak może pomóc odbiorcy.
      .column-2
        = mockup(:imac, :scroll, 'img-fooddata-old-s.jpg')
        %span FoodData - wersja „Przed”

= bgimg('img-headline.jpg', class: "bg-img bg-height-2 color-inverted align-center align-middle") do 
  .section-inner
    %h3 Propozycja wartości
    %p Wymyśliliśmy hasło <strong>„Pan Kanapka online”</strong>, które doskonale oddaje charakter tworzonej aplikacji. Pod nagłówkiem umieściliśmy jasny opis czym jest FoodData oraz jeden z głównych problemów jaki rozwiązuje. 

%section
  .section-inner.outset
    = figure_lazy(:direct, 'fooddata-icons.png', nil, nil)    
  .section-inner.align-center  
    %h3 Wezwania do akcji
    %p Wezwania do działania to zdecydowanie najważniejszy element na tego typu stronach. Mimo, że strona jest krótka, umieściliśmy dwa CTA (call to action) - tak żeby odwiedzający wiedział czego od niego oczekujemy.
  .section-inner.outset  
    = figure_lazy(:l, 'img-zainteresowanie.jpg', nil, nil)   

%section 
  .section-inner.align-center
    %h2 Efekt końcowy
    %p.color-lighter Znacznie uprościliśmy stronę, zarówno w warstwie tekstu jak i designu. Skupiliśmy się tylko na tym, co może być istotne dla odwiedzającego. Nie zapomnieliśmy oczywiście o wersji responsywnej.
    
  .section-inner.outset
    .columns.column-1--3of4.column-2--1of4.align-bottom
      .column-1
        = mockup(:imac, :scroll, 'img-fooddata-l.jpg', id: 'compare-1')
      .column-2
        = mockup(:iphone_black, :scroll, 'fooddata_sx.png', id: 'compare-2')
    
            