---
pageable: true
per_page: 10

---

%section.section.section-blog
  .ct
    .section-content
      %h1.section-title Zobacz jak myślimy

      .grid.grid-s--gutters-l
        - page_articles.each_with_index do |article, i|
          %article.post-teaser.grid-cell
            %a{:href => "#{article.url}", class: 'post-teaser__link'}
              - $current_listed_article = article    
              %img{:src => imgpath(article.data.thumbnail), :alt => ""}/
              -# = image_tag('audience.jpg')
              
              -# = imgpath('main.jpg')
              %header.blog-article__header
                %time.post-time=article.date.strftime('%d.%m.%Y')

                %h1=article.title

              -# = article.summary(50, '...')              
              - if article.data.summary
                .post-teaser__body
                  %p= smart_truncate(article.data.summary, :words => 25)
              %p.reading-time Czas czytania : #{reading_time(article.body)}
              - $current_listed_article = nil
      
      
      - if paginate && num_pages >1
        %p Page #{page_number} of #{num_pages}
        - if prev_page
          %p=link_to 'Previous page', prev_page
        - if next_page
          %p=link_to 'Next page', next_page


= partial 'partials/components/footer'
            
            