---
title: da się prościej - blog
blog: blog
pageable: true
per_page: 10
header: 
---

-# - content_for :header do
-#   = partial 'partials/components/_header.haml', :locals => { :header_class => current_page.data.header } do
-#     %h1 
-#       Zobacz jak myślimy 

%section.section.section-blog
  .container--wide
    %h1 Zobacz jak myślimy
    - page_articles.each_with_index do |article, i|
      %article.post-teaser.grid-cell.group
        %a{:href => "#{article.url}", class: 'post-teaser__link'}
          - $current_listed_article = article
          %img{:src => imgpath(article.data.thumbnail), :alt => ""}/
          
        %header.post-teaser__header  
          %h2
            %a{:href => "#{article.url}"} #{article.title}
          .post-teaser__meta
            %time.post-time= article.date.strftime('%d.%m.%Y')+','
            = link_to article.data.author, author_path(article.data.author), class: "article-author"
            %span.reading-time Czas czytania : #{reading_time(article.body)}
            
        - if article.data.summary
          .post-teaser__summary
            %p= smart_truncate(article.data.summary, :words => 100)
        - $current_listed_article = nil  
      
    - if paginate && num_pages >1
      %p Page #{page_number} of #{num_pages}
      - if prev_page
        %p=link_to 'Previous page', prev_page
      - if next_page
        %p=link_to 'Next page', next_page

// listing
-# %section.section
-#   .section-inner.outset
-#     - authors = blog.articles.group_by {|a| a.metadata[:page]['author']}
-#     %h1 Projects
-#     %ul
-#       - authors.each do |author, articles|
-#         - if !author.blank?
-#           %li
-#             = link_to author, author_path(author)
              
-#             