---
title: da się prościej - realizacje
blog: projekty
---
<%= partial 'partials/components/header' %>

<section class="section-projekty">
	<% page_articles.each_with_index do |article, i| %>
        <article class="projekt <%= article.data.projekt_class %>" >
        	
        	<div class="ct">
	          <h2><%= article.data.title_index %></h2>
	          
	          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam aperiam dignissimos quaerat ab pariatur dolorem dicta officia obcaecati nobis, quisquam quod praesentium eveniet nihil saepe. Voluptates eos unde aliquam velit?</p> -->
          	  <%= link_to("Zobacz", article.url, :class => "btn btn-cta") %>
          	</div>
        </article>
      <% end %>
</section>



<%= partial 'partials/components/footer'%>